<h1>Good films</h1>
<input [formControl]="queryField" placeholder="Search film">
<span *ngIf="films?.total_results">
  {{ films?.total_results }} results
</span>

<div class="container">
    <div *ngFor="let film of films?.results">
        <img src="http://image.tmdb.org/t/p/w300{{ film.poster_path }}">
        <h2>{{ film.title }}</h2>
    </div>
</div>

<div *ngIf="films?.total_results" class="pagination">
    <button (click)="prevPage()">Prev page</button>
    <span>{{ films?.page }} / {{ maxPage }}</span>
    <button (click)="nextPage()">Next page</button>
</div>

<!-- <pre>{{ films?.results | json }}</pre> -->