<div class="search-panel" [ngClass]="{ 'up': films?.total_results > 0 }">
    <h1>Good films</h1>
    <input [formControl]="queryField" placeholder="Search film">
    <span *ngIf="films && films.total_results > 0; else noresults">
      {{ films?.total_results }} results
    </span>
    <ng-template #noresults>no results</ng-template>
    <div class="container">
        <div *ngFor="let film of films?.results">
            <div class="poster">
                <img (click)="openModal(film)" *ngIf="film.poster_path" src="http://image.tmdb.org/t/p/w300{{ film.poster_path }}">
            </div>
            <h2>{{ film.title }}</h2>
        </div>
    </div>
    
    <div *ngIf="films?.total_results" class="pagination">
        <button [ngClass]="{'hide': films?.page < 2 }" (click)="prevPage()">Prev page</button>
        <span>{{ films?.page }} / {{ films?.total_pages }}</span>
        <button [ngClass]="{'hide': films?.total_pages <= films?.page }" (click)="nextPage()">Next page</button>
    </div>
</div>

<ng-template #modalContainer></ng-template>

<!-- <pre>{{ films?.results | json }}</pre> -->