.modal-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    width: 50vw;
    height: 80vh;
    background: #FFF;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(255,255,255,.3);
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;

    &::after,
    &::before {
        content: '';
        display: block;
        background: #000;
        width: 100%;
        height: 1px;
        position: absolute;
    }
    &::after {
        transform: rotate(45deg);
    }
    &::before {
        transform: rotate(-45deg);
    }
}
.film-detail {
    display: flex;

    .film-detail-content {
        padding-left: 15px;
    }
}